* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  min-height: 100%;
}

body {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
}

header {
  height: 10vh;
  background-color: #020202;
  text-align: center;
  color: white;
}

main {
  padding: 2em;
  height: 90vh;
  background-image: url(http://www.mannington.com/-/media/Images/Product/Hardwood/HandCrafted/MVH05AC1_Mountain_View_Acorn.jpg);
  background-size: 100px;
}

.table {
  background: radial-gradient(ellipse at center, #37a52b 0%, #006e2e 100%);
  border: 30px solid #6c350f;
  margin: 0 auto;
  position: relative;
  width: 450px;
  height: 450px;
  border-radius: 50%;
  padding: 0;
  list-style: none;
  box-shadow: 10px 10px 21px 0px rgba(0, 0, 0, 0.75);
}

.hand,
.pot {
  width: 250px;
  text-align: center;
  margin: 0 auto;
  font-size: 30px;
}

.pot {
  margin-top: 150px;
}

.cards {
  text-align: center;
}

.hand > .card,
.card {
  width: 30px;
  height: 50px;
  margin: 5px;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.table > .player.player1.hide .card,
.table > .player.player2.hide .card,
.table > .player.player3.hide .card,
.table > .player.player4.hide .card,
.hand .card.hide {
  background-image: none !important;
  background-color: grey;
}

.table > .player {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px;
  background-color: lightgrey;
  border: 2px solid black;
}
.table > .player .name,
.table > .player .stack {
  padding: .2em .8em;
  text-align: center;
}
.table > .player .name {
  background-color: black;
  transition: all 200ms ease-in-out;
  color: white;
}
.table > .player.player-active .name {
  background-color: red;
}
.table > .player.player4 {
  transform: rotate(0deg) translate(220px) rotate(0deg);
}

.table > .player.user {
  transform: rotate(72deg) translate(180px) rotate(-72deg);
}

.table > .player.player1 {
  transform: rotate(144deg) translate(220px) rotate(-144deg);
}

.table > .player.player2 {
  transform: rotate(216deg) translate(280px) rotate(-216deg);
}

.table > .player.player3 {
  transform: rotate(288deg) translate(250px) rotate(-288deg);
}

.btn-actions {
  position: absolute;
  right: .5em;
  bottom: 1em;
}
.btn-actions .btn {
  padding: .5em 1em;
  border-radius: 0;
  border: 1px solid black;
  color: white;
  cursor: pointer;
  transition: all 200ms ease-in;
  font-size: 16px;
}
.btn-actions input {
  display: block;
  margin-top: 6px;
  height: 30px;
  font-size: 16px;
}

#foldButton {
  background-color: grey;
}
#foldButton:hover {
  background-color: silver;
}

#callButton {
  background-color: MediumSeaGreen;
}
#callButton:hover {
  background-color: #94dbb3;
}

#betButton {
  background-color: red;
}
#betButton:hover {
  background-color: #ff8080;
}

#checkButton {
  background-color: DodgerBlue;
}
#checkButton:hover {
  background-color: #9ecfff;
}
